USE [master]
GO
/****** Object:  Database [AgendaElectronica]    Script Date: 7/1/2026 7:34:06 PM ******/
CREATE DATABASE [AgendaElectronica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgendaElectronica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AgendaElectronica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgendaElectronica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AgendaElectronica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgendaElectronica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgendaElectronica]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 7/1/2026 7:34:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Direccion] [varchar](200) NULL,
	[Genero] [varchar](20) NULL,
	[EstadoCivil] [varchar](20) NULL,
	[Movil] [varchar](20) NULL,
	[Telefono] [varchar](20) NULL,
	[Correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contactos] ON 

INSERT [dbo].[Contactos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Direccion], [Genero], [EstadoCivil], [Movil], [Telefono], [Correo]) VALUES (1, N'gabriel', N'', CAST(N'2026-07-01' AS Date), N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Contactos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Direccion], [Genero], [EstadoCivil], [Movil], [Telefono], [Correo]) VALUES (2, N'gabriel', N'', CAST(N'2026-07-01' AS Date), N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Contactos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Direccion], [Genero], [EstadoCivil], [Movil], [Telefono], [Correo]) VALUES (3, N'gabriel', N'', CAST(N'2026-07-01' AS Date), N'', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Contactos] OFF
GO
USE [master]
GO
